<h2 class="bg-primary p-4">Favourites About Hotels,Players & Mobiles -</h2>



<div class="container">
  <div class="row">
    <div class="col-12">
      <!-- <app-product></app-product> -->
     <h3 class="bg-success p-2 text-center">Favourite Hotels in Udgir</h3>
      <ul class="list-group">
        <li class="list-group-item text-success" *ngFor="let hotel of hotels">
            {{hotel}}
        </li>
      </ul>
<hr>
      <table class="table table-bordered bg-success text-white">
        <thead>
          <tr>
            <th>Sr.No</th>
            <th>OwnerFname</th>
            <th>OwnerLname</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Address</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hotel of hotArr; let i = index">
            <td>{{i + 1}}</td>
            <td>{{hotel.ownerFname}}</td>
            <td>{{hotel.ownerLname}}</td>
            <td>{{hotel.email}}</td>
            <td>{{hotel.contact}}</td>
            <td>{{hotel.address}}</td>
          </tr>
        </tbody>
      </table>

      <h3 class="bg-warning p-2 text-center">Favourite Cricket Players</h3>
      <ul class="list-group">
        <li class="list-group-item text-warning" *ngFor="let player of players">
            {{player}}
        </li>
      </ul>
      <hr>
      <table class="table table-bordered bg-warning text-black-50">
        <thead>
          <tr>
            <th>Sr.No</th>
            <th>Fname</th>
            <th>Lname</th>
            <th>Age</th>
            <th>Nickname</th>
            <th>Village</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of playrArr; let i = index">
            <td>{{i + 1}}</td>
            <td>{{player.fname}}</td>
            <td>{{player.lname}}</td>
            <td>{{player.age}}</td>
            <td>{{player.nickname}}</td>
            <td>{{player.village}}</td>
          </tr>
        </tbody>
      </table>

      <h3 class="bg-dark p-2 text-white text-center" >iphone models</h3>
      <ul class="list-group">
        <li class="list-group-item text-dark" *ngFor="let mobile of mobiles">
            {{mobile}}
        </li>
      </ul>
      <hr>
      <table class="table table-bordered bg-dark text-white">
        <thead>
          <tr>
            <th>Sr.No</th>
            <th>Fname</th>
            <th>Lname</th>
            <th>Age</th>
            <th>Nickname</th>
            <th>Village</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mobile of mobileArr; let i = index">
            <td>{{i + 1}}</td>
            <td>{{mobile.Rom}}</td>
            <td>{{mobile.Display}}</td>
            <td>{{mobile.Camera}}</td>
            <td>{{mobile.Processor}}</td>
            <td>{{mobile.Price}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>